body {
	font-family: 'Exo 2', sans-serif;
	color: #b0aeac;
	background: #2e2924;
	font-weight: 200;
	text-align: center;
}
h1 {
	color: #fff;	
}
button {
    border: none;
    background: #fff;
    margin: 5px;
}