.circle-container {
	@include on-circle($item-count: 12, $circle-size: 18em, $item-size: 3em); 
	border: solid 5px #8a827d;
	li {
		display: flex;
		button {
			font-family: 'Baloo', cursive;
			background: #8a827d;
			color: #0c4d58;				
			@include font-size(24);
			width: 100%;
			font-weight: bold;
			border-radius: 50%;
			border: none;
			&:hover {
		    	background: lightgrey;
		    	transition: .5s;
			}
		}//button
		&.key {
			button {
				background: #fdff75;
				transition: 2s;
			}
		}
		&.dominant {
			button {
				background: #f98b3d;
				transition: 3s;
			}
		}
		&.subdominant {
			button {
				background: #76ffcc;
				transition: 3s;
			}
		}
	}//li
}
