/* Coolors Exported Palette - coolors.co/5e4146-ebefdb-f2eee7-b5b59d-b9ad87 */

/* HSL */
$EGGPLANT: hsla(350%, 18%, 31%, 1);
$EGGSHELL: hsla(72%, 38%, 90%, 1);
$ALABASTER: hsla(38%, 30%, 93%, 1);
$LAUREL-GREEN: hsla(60%, 14%, 66%, 1);
$SAGE: hsla(46%, 26%, 63%, 1);

/* RGB */
$EGGPLANT: rgba(94, 65, 70, 1);
$EGGSHELL: rgba(235, 239, 219, 1);
$ALABASTER: rgba(242, 238, 231, 1);
$LAUREL-GREEN: rgba(181, 181, 157, 1);
$SAGE: rgba(185, 173, 135, 1);