.circle-container {
	border: solid 5px #8a827d;
	@include on-circle($item-count: 12, $circle-size: 13em, $item-size: 2.2em); 
	@include breakpoint($medium) {
		@include on-circle($item-count: 12, $circle-size: 18em, $item-size: 3em);
	}
	li {
		display: flex;
		button {
			font-family: 'Baloo', cursive;
			background: #8a827d;
			color: #0c4d58;				
			@include font-size(18);
			@include breakpoint($medium) {
				@include font-size(24);
			}
			width: 100%;
			font-weight: bold;
			border-radius: 50%;
			border: none;
			&:hover {
		     	background: lightgrey;
		    	transition: .5s;
			 }
		}//button
		&.key {
			button {
				background: yellow;
			}
		}
		&.dominant {
			button {
				background: orange;
				transition: 3s;
			}
		}
		&.subdominant {
			button {
				background: cyan;
				transition: 3s;
			}
		}
	}//li
}
.card#results {
	visibility: hidden;
	&.active {
		visibility: visible;
		transition: 5s;
	}
}

.staff {
	visibility: hidden;
	&.active {
		visibility: visible;
	}
	svg {
		background: #fff;
		padding: 2rem;
		width: 100%;
		@include breakpoint($medium) {
			max-width: 200px;
			margin: 1em;
			border-radius: 5px;
		}			
		path {
			&.inactive {
				visibility: hidden;
			}	
			
			&.active {
				visibility: visible;
			}	
		}
		g {
			stroke: #000;
			stroke-opacity: .3; 
			stroke-width: 4;
		}
	}
}