*{
    box-sizing:border-box;
}
html{
    font-size: 62.5%;/* 1em is then 10px */ border: none;
}
body{
    -webkit-font-smoothing: antialiased;
    img, embed, object, video {
  		max-width: 100%;
  		height: inherit;
  		_width: 100%;
  	}
}
