.circleOfFifths {
	h1,
	p {
		text-align: center;
	}
	.container {
		padding: 15px 0;
	}
	.grid {
		margin: 45px 0;
	}
	main {
		//background: lightgreen;
		justify-self: end;
		ul li {
			display: flex;
			button {
				font-family: 'Baloo', cursive;
				color: #0c4d58;				
				@include font-size(24);
				font-weight: bold;
				width: 100%;
				border-radius: 50%;
				transition: .15s;
			}
		}
	}
	aside {
		//background: lightblue;
	}

}