body {
    font-family: 'Exo 2', sans-serif;
    color: #b0aeac;
    background: #2e2924;
    @include font-size(18);
    line-height: 1.5;
}
h1 { 
    @include font-size(36);
    font-weight: 800;
    color: #929e78;
    margin-bottom: 15px;
}
p {
    font-weight: 200;
    @include font-size(16);
}
a {
    text-decoration: none;
    color: #a5d577;
}

button {
    border: none;
    background: #8a827d;
    &:hover {
        background: #fff;
        transition: 1.2;
    }
}
.container {}